.app {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appIcon {
  &__image {
    height: 24px;
  }
}

.plam {
  height: 80%;
  width: 100%;
  background-color: pink;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.initInputContainer {
  border-bottom: 1px solid;
  padding-bottom: 16px;
}

.userInput, .serverInput {
  margin-right: 8px;
}

.messageInputContainer {
  position: absolute;
  bottom: 0px;
  padding-bottom: 16px;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid;
}

.messageInput {
  width: 70%;
  margin-right: 8px;
}